- if(w.channel)
	title #{w.channel} - Wompt
- else
	title Wompt Group Chat!
link(href="/css/all_"+cacheTimeStamps.all_css+".css", rel="stylesheet", type="text/css", media="screen,projection")
link(href=assets.path("/favicon.ico"), rel="shortcut icon", type="image/x-icon")
link(href=assets.path("/apple-itouch-icon.png"), rel="apple-touch-icon")
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="keywords", content="chat,irc,webchat,chatroom,chat room")
meta(name="author", content="Wompt, Inc.")
meta(property="fb:app_id", content="181725458505189")
meta(property="fb:admins", content="1614882992,1497194948")
meta(property="og:site_name", content="Wompt")
- if(w.channel)
	meta(property="og:title", content="Wompt Chat Room: " + w.channel)
- else
	meta(property="og:title", content="Wompt Group Chat")
meta(property="og:description", content="Come chat on wompt - the place to chat. Easy-to-use. No registration required.", name="description")
meta(property="og:image", content="http://wompt.com/apple-itouch-icon.png")
meta(property="og:type", content="website")
script(type='text/javascript')
	var readonly = #{w.user.readonly};
	