#top
	#toplinks
		- if(w.channel)
			span.connection_status
			&nbsp;|
		- if(w.authenticated)
			a(href=w.user.profile_url()) #{w.user.doc.email || w.user.doc.name}
			| &nbsp;|&nbsp;
			a(href="/user/sign_out", title="Sign out of Wompt", class='same_window') sign out
		- else
			| &nbsp;sign in:
			- each provider in w.config.auth.providers
				<a href="/auth/#{provider.code}" class='popup ico #{provider.code.substr(0,2)}' title="Sign in using #{provider.name}"></a>
			- if(w.config.force_sign_in)
				= '&nbsp;|&nbsp; '
				<a href="/users/force_sign_in/1" title="Force sign in as the first user">user 1</a> &nbsp;|&nbsp;
				<a href="/users/force_sign_in/2" title="Force Sign in as the second user">user 2</a>
		- if(!w.hide_top_query)
			form#query(action='/search', target='_blank', autocomplete="off")
				input.query.top(type='text', name='q', value= w.query)
				#results
	#logo
		a.W(href="/", title="Wompt.com")
			span#wompt Wompt
		- if(w.channel)
			- if(w.channel.length > 20)
				span(title=w.channel)= w.channel.substr(0,20).replace(/\//g,' / ') + '...';
			- else
				=w.channel.replace(/\//g,' / ')
	.clear
