form(action='/accounts/' + w.account.name, method='POST')
	.title
		.left
			h3 Editing:	
		h2 #{w.account.name}
	.right
		button.minimal(type='submit') Save
		a.button.minimal(href='/accounts/' + w.account.name) Cancel
	table#account_info.vertical.top_aligned
		tr
			th.top_aligned
				label(for='name') Name
			td
				input#name(name='name', disabled, value=w.account.name)
		tr
			th.top_aligned
				label(for='domains') Domains
				.note one per line
			td
				textarea#domains(name='domains')= w.account.domains.join("\n")
		- if(w.user.doc.is_admin())
			tr.admin
				th.top_aligned
					label(for='role') Role
				td
					select#role(name='role')
						- for(var role in w.roles)
							option(value=role, selected=(role == w.account.role))= role
			tr.admin
				th.top_aligned
					| Features from
					br
					| '#{w.account.role}' role
				td
					#features.code(name='features', style='width:500px;height:200px;')!= JSON.stringify(w.account.featureSet())
