.title
	h2 #{w.account.name}
table.vertical
	tr
		th Current Connections
		td #{w.namespace.clients.count}
	tr
		th Secret
		td
			span.code #{w.account.secret}
	tr
		th Base Url
		td.code http://wompt.com/#{w.account.name}/
	tr
		th Owners
		td
			- each owner in w.account_owners
				a(href='/users/' + owner.id)= owner.name
				br
			- if(w.user.doc.is_admin())
				form(action='/accounts/' + w.account.name, method="POST")
					label(for='add_owner') Add by ID:
					input(type='text', id='add_owner', name='add_owner_id')
	- if(w.user.doc.is_admin())
		tr
			th Actions
			td
				a(href='/accounts/' + w.account.name + '/edit') Edit
