script(type='text/javascript')
	var baseUrl = "#{w.account.baseUrl()}";
.title
	h2 #{w.account.name}
.right
	a.button.minimal(href='/accounts/' + w.account.name + '/edit') Edit
table#account_info.vertical
	tr
		th Current Connections
		td #{w.namespace ? w.namespace.clients.count : 0} - 
			a(href='/accounts/' + w.account.name + '/analytics') analytics
	- if(w.account.hasFeature('sso'))
		tr
			th Secret
			td
				span.code #{w.account.secret}
	tr
		th Base Url
		td.code= w.account.baseUrl()
	tr
		th Domains
		td
			- each domain in w.account.domains
				.domain= domain
	- if(w.account.hasFeature('sso'))
		tr
			th User Profile URL template
			td.code= w.account.profile_url_template
	tr
		th Owners
		td
			- each owner in w.account_owners
				a(href='/users/' + owner.id)= owner.name
				br
	- if(!w.account.hasFeature('sso'))
		tr.spacer
			th
		tr
			th Embedded Rooms
			td
				h4 As many rooms as you like on any number of pages, no rules.
				!=partial('shared/_embed_code_form_table')
	- if(w.user.doc.is_admin())
		tr.admin
			th Role
			td= w.account.role
	tr
		th
			Word Filter
		td= (w.account.useWordFilter ? "Using a" : "No") + " word filter"
			
