script(type='text/javascript')
	var channel = '#{w.channel}',
	namespace = '#{w.namespace}',
	connector_id  = '#{w.connector_id}',
	WOMPT = !{JSON.stringify(w.config.constants)},
	Me = {name: '#{w.user.doc ? w.user.doc.name || w.user.doc.email : ''}'};
#content
	#messages
		#messages_scroller
			table#message_list.hide_system
	#user_list
		.title Users
		.users			
#input
	- if(w.user.authenticated())
		.name#own_name #{w.user.doc ? w.user.doc.name : "Anonymous"}
		.container
			textarea#message(name='message')
			#input_overlay
				span.connection_status
				| &nbsp;
				a.try_now(href='#') Try Now
	- else
		.name#own_name Observing
		.container
			#message
				| sign in to participate:
				<a href="/auth/google"   class='popup' title="Sign in using Google">google</a> &nbsp;|&nbsp;
				<a href="/auth/facebook" class='popup' title="Sign in using Facebook">facebook</a> &nbsp;|&nbsp;
				<a href="/auth/github"   class='popup' title="Sign in using Github">github</a>
	!=partial('partials/_share_links.jade')
