script(type='text/javascript')
	var channel = '#{w.channel}',
	namespace = '#{w.namespace}',
	connector_id  = '#{w.connector_id}',
	WOMPT = !{w.config.constantsJSON},
	Me = {name: '#{w.user.doc ? w.user.doc.name || w.user.doc.email : ''}'};
#content
	#messages
		#actions
			- if(w.embedded && !w.ui.hidePopout)
				a.popout(href=w.url.split('?')[0], title="Open this chat room in a new tab")
			a#ding.all(href='#')
			a.userlist_toggle(href='#', title='Toggle list of people')
				span.ul_shown »
				span.ul_hidden «
		#messages_scroller
			table#message_list.hide_system
				// Blank row and name to ensure columns widths are correct (widths were wrong if first row had a cell with colspan)
				tr
					td.name
	#user_list
		.title People&nbsp;
			span#user_count
		.list
			.top
			.users
#input
	- if(w.user.authenticated())
		.name#own_name #{w.user.doc ? w.user.doc.name : "Anonymous"}
		.container
			textarea#message(name='message')
			#input_overlay
				span.connection_status
				| &nbsp;
				a.try_now(href='#') Try Now
	- else
		.name#own_name Just Observing
		.container
			#message
				| sign in to participate:
				- each provider in w.config.auth.providers
					<a href="/auth/#{provider.code}" class='popup ico #{provider.code.substr(0,2)}' title="Sign in using #{provider.name}"></a>
	!=partial('partials/_share_links.jade')
