script(type='text/javascript')
	var channel = '#{w.channel}',
	namespace = '#{w.namespace}',
	connector_id  = '#{w.connector_id}',
	WOMPT = !{JSON.stringify(w.config.constants)},
	Me = {name: '#{w.user.doc ? w.user.doc.name || w.user.doc.email : ''}'};
#content
	#messages
		#messages_scroller
			table#message_list.hide_system
	#user_list
		.title Users&nbsp;
			span#user_count
		.users			
#input
	- if(w.user.authenticated())
		.name#own_name #{w.user.doc ? w.user.doc.name : "Anonymous"}
		.container
			textarea#message(name='message')
			#input_overlay
				span.connection_status
				| &nbsp;
				a.try_now(href='#') Try Now
	- else
		.name#own_name Just Observing
		.container
			#message
				| sign in to participate:
				<a href="/auth/facebook" class='popup ico fb' title="Sign in using Facebook"></a>
				<a href="/auth/github"   class='popup ico gi' title="Sign in using Github"></a>
				<a href="/auth/google"   class='popup ico go' title="Sign in using Google"></a>
	!=partial('partials/_share_links.jade')
