.container
	.full.wompt
		.company Wompt
		.w
		.sub is&nbsp;chat
	.plainpage.new_group
		.slides
			.slide.current
				.contents
					h3.title Like Disqus?  Want Real time?
					h4 Easily add chat to any web page for free!
					.wompt_embedd
						<iframe src='http://#{w.host}/chat/wompt?iframe=1#c=888' style='width:100%; height:100%;' allowtransparency="true"></iframe>
					p Use this HTML and replace the 'any_room_name_you_want'
					.code= "<iframe src='http://wompt.com/chat/any_room_name_you_want?iframe=1#c=888' style='width:100%; height:100%;' allowtransparency='true'></iframe>"
			.slide.future
				.contents
					h3.title You can sign in with Google, facebook, or Github
					img(src='/images/external/facebook_128.png')
					img(src='/images/external/github_128.png')
					img(src='/images/external/google_128.png')
			.slide
				.contents
					h3.title Create private chat rooms for sensitive discussions
					form(method='get', action='/unlisted/new')
						input.submit#join(type='submit', value="Create Private Room")
			.slide.past
				.contents
					h3.title Capture and engage your community
					p Blah Blah
		#slide_buttons
		.your_content_box.hide
			.your_content your goes content here
		.code= "<iframe src='http://wompt.com/chat/any_room_name_you_want?iframe=1#c=888' style='width:100%; height:100%;' allowtransparency='true'></iframe>"
	.group.hide
		.cell.first
			.private_chat
				h1.title Private Chat
				.subtitle chat with anyone you invite
				
		.narrow_tail.hide
		.cell
			.channel_selector
				.right_back.back
				.left_back.back
				h1.title Public Chat
				.subtitle !{w.subtitle}
				form(method='post')
					input.text.big.inline_label#channel(name='channel', title="Chat topic", type='text', placeholder="Enter a topic")
					input.submit#join(type='submit', value="Join Chat Room")
		.clear.narrow_tail
	.wide_tail.hide
	.group.hide
		.cell.first
			.channel_list
				h1 Popular Rooms
				table.room_list
					- each chan in w.app.popular_channels.sorted_list
						tr
							td
								a(href="/chat/" + chan.name)= chan.name.substring(0,20)
							td.count= chan.clients.userCount
		.clear.narrow_tail
	.wide_tail
	.clear
	