.container
	.full.wompt
		.company Wompt
		.w
		.sub is&nbsp;chat
	.plainpage
		.slides
			.slide.current
				.contents
					h3 Like Disqus?  Want Real time?
					h4 Easily add chat to any web page for free!
					.wompt_embedd
						<iframe src='http://#{w.host}/chat/wompt?iframe=1#c=444' style='width:100%; height:100%;' allowtransparency="true"></iframe>
					p Use this HTML and replace the 'any_room_name_you_want'
					.code= "<iframe src='http://wompt.com/chat/any_room_name_you_want?iframe=1#c=888' style='width:100%; height:100%;' allowtransparency='true'></iframe>"
			.slide.future
				.contents
					h3 You can sign in with Google, facebook, or Github
					h4 No new usernames or passwords to memorize
					img(src='/images/external/google_128.png')
					img(src='/images/external/facebook_128.png')
					img(src='/images/external/github_128.png')
			.slide
				.contents
					h3 Use private chat rooms for sensitive discussions
					h4 Send others the link, or use the Facebook Send button
					form(method='get', action='/unlisted/new')
						span.submit Go to a
						input.submit#join(type='submit', value="Private Room")
			#slide_buttons
				a Add chat to your web site
				a No new accounts
				a Privacy
		.channel_selector
			h1.title Public Chat
			.subtitle !{w.subtitle}
			form(method='post')
				input.text.big.inline_label#channel(name='channel', title="Chat topic", type='text', placeholder="Enter a topic")
				input.submit#join(type='submit', value="Join Chat Room")
		.clear
	.group.hide
		.cell.first
			.channel_list
				h1 Popular Rooms
				table.room_list
					- each chan in w.app.popular_channels.sorted_list
						tr
							td
								a(href="/chat/" + chan.name)= chan.name.substring(0,20)
							td.count= chan.clients.userCount
		.clear
	.clear
