#landing
	.row
		.cell
			.side_list#left_side
				.left_back
				.right_back
				h2 Twitter Topics
				table.room_list
					- each chan in w.popular_channels.sorted_list
						tr
							td.count= chan.clients.count
							td
								a(href="/chat/" + chan.name)= "#" + chan.name.substring(0,20)
		.cell
			.channel_selector
				.right_back.back
				.left_back.back
				h1.title Wompt is Group Chat
				.subtitle #{w.subtitle}
				form(method='post')
					input.text.big.inline_label#channel(name='channel', title="Chat topic", type='text')
					input.submit#join(type='submit', value="Join Chat Channel")
		.cell
			.side_list#right_side
				.left_back
				.right_back
				h2 Trending Topics
				table.room_list
					- each chan in w.popular_channels.sorted_list
						tr
							td
								a(href="/chat/" + chan.name)= chan.name.substring(0,20)
							td.count= chan.clients.count
		.clear
