!!!
html
	head
		title Wompt Group Chat!
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", type="text/javascript")
		- if(w.page_js)
			script(src="/js/" + w.page_js + "_" + cacheTimeStamps[w.page_js + "_js"] + ".js", type="text/javascript")
		link(href="/css/all_"+cacheTimeStamps.all_css+".css", rel="stylesheet", type="text/css", media="screen,projection")
		link(href=assets.path("/favicon.ico"), rel="shortcut icon", type="image/x-icon")
		link(href=assets.path("/apple-itouch-icon.png"), rel="apple-touch-icon")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(meta name="description", content="Wompt is chat.")
		meta(name="keywords", content="chat,irc,webchat,chatroom,chat room")
		meta(name="author", content="Wompt, Inc.")
		:javascript
			| var readonly    = #{w.user.readonly}
	body
		#top
			#toplinks
				- if(w.channel)
					span#connection_status
					&nbsp;|
				- if(w.user.doc)
					span #{w.user.doc.email || w.user.doc.name}
					| |
					a(href="/users/sign_out", title="Logout of Wompt") sign out
				- else
					| sign in using:
					<a href="/auth/google"   title="Sign in using Google">google</a> &nbsp;|&nbsp;
					<a href="/auth/facebook" title="Sign in using Facebook">facebook</a> &nbsp;|&nbsp;
					<a href="/auth/github"   title="Sign in using Github">github</a>
					- if(w.config.force_sign_in)
						= '&nbsp;|&nbsp; '
						<a href="/users/force_sign_in/1" title="Force sign in as the first user">user 1</a> &nbsp;|&nbsp;
						<a href="/users/force_sign_in/2" title="Force Sign in as the second user">user 2</a>
			#logo.top_left
				a(href="/", title="Wompt.com")
					| Wompt
				- if(w.channel)
					| : #{w.channel}
			.clear
		.main
			#{body}
		- if (w.footer)
			#footer_container
				#footer
					.left Wompt &nbsp;&copy;&nbsp; #{(new Date()).getFullYear()}
					.right
						a(href="/terms", title="View terms of use") Terms
						=" | "
						a(href="/privacy", title="View privacy policy") Privacy
					.clear
		- if (!w.user || !w.user.doc || !w.user.doc.is_admin())
			:javascript
				| var _gaq = _gaq || [];
				| _gaq.push(['_setAccount', 'UA-19794419-1']);
				| _gaq.push(['_trackPageview']);
			
				| (function() {
				| 	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				| 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				| 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				| })();
