!!!
html
	head
		title Wompt Chat!
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js", type="text/javascript")
		script(src=assets.path("/external/events.js"), type="text/javascript")
		script(src=assets.path("/external/inlineFieldLabel.js"), type="text/javascript")
		- if(w.channel)
			script(src="/js/socket.io.js?"+assets.asset_info("/../vendor/Socket.IO/socket.io.js").ts, type="text/javascript")
			script(src=assets.path("/js/client.js"), type="text/javascript")
			script(src=assets.path("/external/json2.js"), type="text/javascript")
		link(href=assets.path("/css/base.css"), rel="stylesheet", type="text/css", media="screen,projection")
		link(href=assets.path("/css/landing.css"), rel="stylesheet", type="text/css", media="screen,projection")
		link(href=assets.path("/favicon.ico"), rel="shortcut icon", type="image/x-icon")
		link(href=assets.path("/apple-itouch-icon.png"), rel="apple-touch-icon")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(meta name="description", content="Wompt is chat.")
		meta(name="keywords", content="chat,irc,webchat,chatroom,chat room")
		meta(name="author", content="Wompt, Inc.")
		:javascript
			| var readonly    = #{w.user.readonly}
	body
		#top
			#toplinks
				- if(w.user.doc)
					span #{w.user.doc.email || w.user.doc.name}
					| |
					a(href="/users/sign_out", title="Logout of Wompt") sign out
				- else
					| Sign in using: 
					a(href="/auth/google", title="Sign in using Google") Google
					|, 
					a(href="/auth/facebook", title="Sign in using Facebook") Facebook
					|, 
					a(href="/auth/github", title="Sign in using Github") Github
			#logo.top_left
				a(href="/", title="Wompt.com")
					img(src=assets.path("/images/logo/white_30.png"))
					| Wompt
				- if(w.channel)
					| : #{w.channel}
			.clear
		.main
			#{body}
		- if (w.footer)
			#footer
				.left Wompt &nbsp;&copy;&nbsp; 2010
				.right
					a(href="/terms", title="View terms of use") Terms
					=" | "
					a(href="/privacy", title="View privacy policy") Privacy
				.clear
		:javascript
			| var _gaq = _gaq || [];
			| _gaq.push(['_setAccount', 'UA-19794419-1']);
			| _gaq.push(['_trackPageview']);
		
			| (function() {
			| 	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			| 	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			| 	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			| })();
