table
	tr
		th Active Channels
		td #{w.app.channels.count}
	tr
		th Active Clients
		td #{w.app.clients.count}
	tr
		th Unique Users
		td #{w.app.clients.userCount}		
	tr
		th Namespaces and Channels
		td
			ul
				- w.app.namespacesController.eachNamespace(function(namespace) {
					li
						h4= namespace.options.namespace + " - " + namespace.clients.count
						tt.namespace_details= JSON.stringify(namespace.options)
						table.roomlist
							- namespace.each(function (channel) {
								- if (channel.clients.count > 0)
									tr
										td.count=channel.clients.count
										td=channel.name
							- });
				- });
	tr
		th App State
		td
			pre	#{JSON.stringify(w.app.appStateMonitor.previousState)}
